* {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  scrollbar-width: none;
}

main {
  display: flex;
  justify-content: center;
  gap: 10px;
}
main .field {
  background-image: url(/src/assets/img/field-bg.png);
  background-color: aquamarine;
  width: 900px;
  height: 730px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
main .field .cards-container {
  border: none;
  padding: 0;
  margin: 0;
  width: 130px;
  height: 230px;
  background: url(/src/assets/img/badge_gold.webp) no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #07d95a;
}
main .field .cards-container:hover {
  filter: drop-shadow(0px 0px 13px rgb(75, 172, 75));
}
main aside {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 730px;
  background-color: rebeccapurple;
}
main aside .saveSquad {
  width: 90%;
  height: 50px;
}
main aside .Formation {
  width: 100%;
}
main aside .Formation .custom-select {
  width: 90%;
}
main aside .Formation .custom-select select {
  appearance: none;
  width: 100%;
  font-size: 1.15rem;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

#card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 90vh;
  background-color: aliceblue;
  overflow: scroll;
  width: 80%;
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(10px);
}

.player-card {
  background-image: url(../src/assets/img/badge_gold.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 379px;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  position: relative;
  font-size: 14px;
  color: #4d331f;
}
.player-card .photo {
  margin-bottom: -4px;
  position: relative;
  top: 111px;
  right: -10px;
  width: 135px;
}
.player-card .rating {
  position: absolute;
  top: 78px;
  left: 52px;
  font-size: 41px;
  font-weight: bold;
  color: #4d331f;
}
.player-card .position {
  position: absolute;
  top: 119px;
  right: 194px;
  font-size: 20px;
  font-weight: bold;
  color: #4d331f;
}
.player-card .stats {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 115px;
  left: 21px;
  width: 213px;
  font-weight: bold;
  color: #4d331f;
}
.player-card .stat {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  color: #4d331f;
}
.player-card .logo {
  margin-top: 10px;
  position: absolute;
  top: 326px;
  right: 101px;
  width: 32px;
}
.player-card .name {
  position: relative;
  top: 123px;
  left: 7px;
  color: #4d331f;
}
.player-card .flag {
  position: relative;
  top: 123px;
  left: -12px;
  width: 27px;
}

.player-detail-card {
  position: relative;
  width: 100%;
  height: 100%;
}

.photo2 {
  margin-bottom: -4px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 35%;
  left: 50%;
  max-width: 65px;
}

.rating2 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 27%;
  font-size: 17px;
  font-weight: bold;
  color: #4d331f;
}

.position2 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 35%;
  left: 28%;
  font-size: 11px;
  font-weight: bold;
  color: #4d331f;
}

.stats2 {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 59%;
  left: 50%;
  width: 100px;
  font-weight: bold;
  color: #4d331f;
  font-size: 10px;
  flex-wrap: wrap;
  gap: 1.5px;
}

.logo2 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 76%;
  left: 60%;
  width: 20px;
}

.name2 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 52%;
  left: 50%;
  color: #4d331f;
  width: 150px;
  font-size: 12.2px;
}

.flag2 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 76%;
  left: 40%;
  width: 21px;
}

.theall {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  overflow: scroll;
  overflow-x: scroll;
}
.theall i {
  position: absolute;
  top: 9%;
  right: 14%;
  font-size: 1.5rem;
  cursor: pointer;
  color: #ff0000;
  transition: transform 0.3s;
  z-index: 100;
}
.theall i:hover {
  transform: scale(1.8);
}

@media screen and (max-width: 700px) {
  .cards-container {
    height: 100px !important;
  }
}

/*# sourceMappingURL=style.css.map */
